* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* min-height: 100dvh; */
    width: 95%;
    margin: 0 auto;
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 1fr 2fr 3fr 1fr;
    grid-template-areas:
        "upper_header"
        "lower_header"
        "main"
        "footer"
    ;
}

a {
    margin: 5px;
    text-decoration: none;
    color: black;
    font-weight: 550;
}

div.upper_header {
    height: 90px;
    grid-area: upper_header;
    border: 2px dashed red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/images/book\ png_.jpg");
    background-size: contain;
}

div.lower_header {
    /* height: 80px; */
    height: 80%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    grid-area: lower_header;
    border: 2px dashed black;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
        "logo search"
        "catalogue catalogue"
    ;
}

div.lower_header div.logo {
    grid-area: logo;
    border: 2px dashed black;
    background-image: url("/images/book\ png_.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

div.lower_header div.search {
    grid-area: search;
    border: 2px dashed black;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

input[type="search"] {
    margin: auto 10px;
    font-size: 20px;
    font-weight: bolder;
    height: 40px;
    width: 700px;
    outline: 0;
    border: 0;
    border-radius: 10px;
}

div.search div.search_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    border: 2px solid red;
}

.search_button {
    width: 30px;
    margin-left: 10px;
    background-color: white;
    border: 0;
    font-size: 20px;
    color: darkgreen;
    border-radius: 10px;
}

.search_button:hover {
    cursor: pointer;
}

div.login_container {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: right;
}

div.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    height: 90%;
    margin: auto 15px;
}

div.login:hover {
    background-color: white;
}

div.login div a:hover {
    cursor: pointer;
    color: burlywood;
}

div.lower_header div.catalogue {
    grid-area: catalogue;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

main {
    grid-area: main;
    border: 3px blue solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: footer;
    border: 3px black solid;
}