.sidebar {
  width: 240px;
  flex: 0 0 240px;
  min-height: 100vh;
  background: #2563eb;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

/* Fix lỗi bị header.css đè class .logo */
.sidebar .logo {
  background: none;
  background-image: none;
  grid-area: auto;
  width: auto;
  height: auto;

  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  color: white;
}

.sidebar a {
  display: block;
  color: #e5e7eb;
  padding: 10px;
  text-decoration: none;
  border-radius: 6px;
  margin-bottom: 8px;
}

.sidebar a:hover {
  background: #1d4ed8;
  color: white;
}