* {
    font-family: Arial, Helvetica, sans-serif;
}

.form-container{
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    display:flex;
}

.form-container__bg{
    position: absolute;
    width: 100%;
    height:100%;
    background: linear-gradient(0deg,#5AB9EA, #C1C8E4, #8860D0);    
}

.signup_form-container__content, .login_form-container__content{
    width: 500px;
    height: 700px;
    background-color: #fff;
    border-radius: 7px;
    margin: auto;
    position: relative;
}

.login_form-container__content{
    height: 500px;
}

h3{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 60px;
}

.form-container__form{
    padding: 0px 40px;
}

.form-container__row{
    padding: 10px 0;
}

.form_label{
    display: block;
    margin-bottom: 10px;
}

.form_input{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form_policy{
    display: flex;
    align-items: flex-start;
    gap:2px;
    margin: 10px 0;
}

.policy-text{
    text-align: center;
}

.policy-a{
    text-decoration: none;
}

.btn{
    color: #fff;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.btn:hover{
    opacity: 0.8;
}

.btn-control{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #8860D0;
}

.btn-social{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    gap: 2px;
}

.form-login{
    text-align: center;
    text-decoration: none;
}